<div class="mt-4 product-tabs panel-group">
  <ul class="nav-tabs nav" role="tablist">
    <li class="nav-item ">
      <a class="active " id="home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
        Description
      </a>
    </li>
    <% unless SpreeThemeSettings::Config.product_tabs.nil? %>
      <% @tabs = JSON.parse(SpreeThemeSettings::Config.product_tabs) %>
      <% @tabs.each_with_index do |tab| %>
        <li class="nav-item">
          <a class="" id="profile-tab" data-toggle="tab" href="#<%= tab[0].gsub(/[^0-9a-z]/i, '') %>" role="tab" aria-controls="<%= tab[0].gsub(/[^0-9a-z]/i, '') %>" aria-selected="false">
            <%= tab[0] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="tab-content mt-4" >
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
      <%= raw product_description(@product) %>
    </div>
    <% unless SpreeThemeSettings::Config.product_tabs.nil? %>
      <% @tabs.each_with_index do |tab| %>
        <div class="tab-pane fade" id="<%= tab[0].gsub(/[^0-9a-z]/i, '') %>" role="tabpanel" aria-labelledby="<%= tab[0].gsub(/[^0-9a-z]/i, '') %>-tab">
          <%= render_snippet tab[1] %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
